{% extends "layout.html" %}

{% block mainContent %}
<br></br>
   <p>Allow us to introduce ourselves. Our management team comprises three members:</p>
  <p>
    <span class="team" id="smilingjaguar-name">Jayant Gokhale</span>
    <img src="https://c1.staticflickr.com/5/4112/5033184471_81905832d2.jpg" width="130" height="200" id="smilingjaguar-headshot">
    <span class="team" id="successful-hyena-name">Supriyo Roy</span>
    <img src="http://img2.wikia.nocookie.net/__cb20140618111452/spec-evo/images/4/47/Magetic_Hyena.png" width="200" height="200" id="successful-hyena-headshot">
    <span class="team" id="quainthedgehog-name">Rohit Nayak</span>
    <img src="https://jrllanes.files.wordpress.com/2011/01/eagle.png" width="150" height="200" id="quainthedgehog-headshot">
  </p>
  
  <p>We started our website while still students at business school. We wanted to create a website where people could easily RSVP to events with
  other students at our school. This is the result.</p>
  
  
 
  
  
{% endblock %}
