{% extends "layout.html" %}

{% block header %}
  <header>
  <h2 class="eventpage">EVENTS</h2>
  <img src="http://static.wix.com/media/fd5701_d4214698778cfefcd7c02a7547279c9e.png_256" width="100" height="100" id="logo" align="center">
  </header>
{% endblock %}

{% block mainContent %}
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <div>
{% endblock %}

{% block footer %}


  <footer>
    <ul class="check">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a id="new" href="/events/new">Create Event</a></li>
    </ul>
  </footer>
{% endblock %}
