{% extends "layout.html" %}

{% block header %}
  <header>
  <h1>JUNGLEES</h1>
  <img src="http://static.wix.com/media/fd5701_d4214698778cfefcd7c02a7547279c9e.png_256" width="100" height="100" id="logo" align="center">
  </header>
{% endblock %}

{% block mainContent %}

  <span>About Us</span>
  <p>
    We're the coolest kids on the block. Check out our story at the <a class="monkey" href="/about">About Us</a> page!
  </p>
  <span>Events</span>
  <p>
    You're not the type to spend your nights and weekends at home -- go to our <a class="monkey" href="/events">Events</a> page.
    Or you could just look below!
  </p>

 
  <div>
    <br>
    {% include "fragments/events-list.html" %}
    </br>
  </div> 
{% endblock %}